.inline {
  display: inline;
}

.add:hover {
  color: #ffbf47;
}

.subtract:hover {
  border: 1px dotted;
  color: #45f434
}

.multiply:hover {
  color: blueviolet;
}

.divide:hover {
  border: 1px dashed;
  color: darkred;
}